<section >
    <div>
        <h2 class="my-4 text-center">CONATCT SECTION</h2>
        <div class="text-center">
            <span class="me-3 spanComponent"></span>
            <i class="fa-solid fa-star"></i>
            <span class="ms-3 spanComponent"></span>
        </div>
    </div>
        <form>
       <div class="container">
        <div >
            <label for="userName">userName :</label>
            <input id="userName" placeholder="userName" type="text" class="w-100 mt-3  border-0 ">
            <hr>
        </div>
        <div >
            <label for="userName">userName :</label>
            <input id="userName" placeholder="userName" type="text" class="w-100 mt-3  border-0 ">
            <hr>
        </div>
        <div >
            <label for="userName">userName :</label>
            <input id="userName" placeholder="userName" type="text" class="w-100 mt-3  border-0 ">
            <hr>
        </div>
        <div >
            <label for="userName">userName :</label>
            <input id="userName" placeholder="userName" type="text" class="w-100 mt-3  border-0 ">
            <hr>
        </div>
       </div>
        </form>
</section>



